<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <h1 class="title navbar-start">
        <a class="navbar-item" href="/">Zenika Cities weather</a>
      </h1>
    </div>
    <h2 class="navbar-item has-text-white">
      The best weather app in Angular
    </h2>
    <div class="navbar-menu navbar-end">
      <a class="navbar-item has-text-white" [routerLink]="['/', 'create']">
        Add city
      </a>
    </div>
  </div>
</nav>
